fastapi
uvicorn
sqlalchemy
psycopg2-binary
playwright
scikit-learn
pandas
numpy
google-generativeai
langchain
langchain-google-genai
langchain-openai
langchain-core
langchain-community
fpdf
streamlit
python-dotenv
ultralytics
requests
supabase
